@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";

/* Components */
@import "components/nav-bar.css";

/* Screens */
@import "screens/about.css";
@import "screens/index.css";
@import "screens/project.css";

body {
  color: #2e363e;
  font-family: "Open Sans", sans-serif;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
